{% extends 'base.html' %}

{% block title %}Home{% endblock %}

{% block content %}
    <header>

    <h1><a href="">Chiamaka's Blog</a></h1>

    <nav>
        <a href="" All Posts></a>
    </nav>
    </header>

    <section id = "welcome">

        <img src="" alt="">
        <h2>Welcome to my blog</h2>
    <p>Hi I'm Chiamaka</p>
    </section>


    <section id="latest-posts">
    <h2>My thoughts</h2>

    <ul>
        <li>
<article class="post">
    <a href=""></a>

</article>

        </li>
    </ul>
    </section>
{% endblock %}